<?xml version="1.0" encoding="UTF-8"?>

<plugin-features
	Bundle-Name="MaketionCardPLug" 
	Bundle-SymbolicName="com.android.maketionsdk"	
	Bundle-Version="1.0"
	date="2015.8.31"
	provider-name="Apkplug" 
	provider-url="" 
	Bundle-Activator="com.apkplug.plug.SimpleBundle"
	Bundle-Activity="com.android.maketionsdk.MaketionSDKAcitivity"
	>
</plugin-features>